
<h1 class="text-center">Add a message</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
        <%= simple_form_for [@event, @message] do |f| %>
            <%= f.error_notification %>
              <% if @message.errors.any? %>
                <%= @message.errors.full_messages.join(" ") %>
               <% end %>
            <%= f.input :content %>
            <%= f.association :recipient, collection: @event.confirmed_users, label_method: :username %>
            <%= f.input :sender_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.button :submit, class: "space btn-block btn-primary" %>
        <% end %>
    </div>
  </div>
</div>
