<li>
  <%= link_to user_path(current_user) do %>
    <i class="fa fa-user bise-red"></i> <%= t('.profil') %>
  <% end %>
</li>
<li>
  <%= link_to root_path do %>
    <i class="fa fa-home bise-red"></i>  <%= t('.home') %>
  <% end %>
</li>
<li>
  <%= link_to dashboard_path do %>
    <i class="fa fa-tachometer bise-red"></i>  <%= t('.dashboard') %>
  <% end %>
</li>
<li>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fa fa-sign-out bise-red"></i>  <%= t('.sign_out') %>
  <% end %>
</li>
