<% if user_signed_in? %>

  <li class="hidden-md">
    <%= link_to new_event_path do %>
      <i class="fa fa-plus-circle bise-red" aria-hidden="true"></i> <%= t('.add_event') %>
    <% end %>
  </li>
  <li>
    <%= link_to user_path(current_user) do %>
      <i class="fa fa-user bise-red"></i> <%= t('.profil') %>
    <% end %>
  </li>
  <li>
    <%= link_to root_path do %>
      <i class="fa fa-home bise-red"></i>  <%= t('.home') %>
    <% end %>
  </li>
  <li>
    <%= link_to dashboard_path do %>
      <i class="fa fa-tachometer bise-red"></i>  <%= t('.dashboard') %>
    <% end %>
  </li>
  <li>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out bise-red"></i>  <%= t('.sign_out') %>
    <% end %>
  </li>

<% else %>

  <li>
    <%= link_to new_user_session_path  do %>
      <i class="fa fa-sign-in bise-red" aria-hidden="true"></i> <%= t('.sign_in') %>
    <% end %>
  </li>
  <li>
    <%= link_to root_path do %>
      <i class="fa fa-home bise-red"></i>  <%= t('.home') %>
    <% end %>
  </li>

<% end %>
