<div id="footer">
  <div class="container">
    <div class="row">


      <div class="col-xs-12 col-sm-3">
        <h4 class="footer-flags"></h4>
          <% if I18n.locale == I18n.default_locale %>
            <%= link_to :locale=>'fr' do %>
              <%= image_tag("france.png")%>
            <% end %>
          <% else %>
            <%= link_to :locale=>'' do %>
              <%= image_tag("uk.png") %>
            <% end %>
          <%end%>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4 class="footer-titles text-center">La Bise</h4>
        <ul>
          <li class="no-decoration-list"><a href="#"><%= t('.who') %></a></li>
          <li class="no-decoration-list"><a href="#"><%= t('.contact_us') %></a></li>
          <li class="no-decoration-list"><a href="#"><%= t('.partners') %></a></li>
          <li class="no-decoration-list"><a href="#"><%= t('.press') %></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4 class="footer-titles text-center"><%= t('.help') %></h4>
        <ul>
          <li class="no-decoration-list"><a href="#"><%= t('.faq') %></a></li>
          <li class="no-decoration-list"><a href="#"><%= t('.manual') %></a></li>
          <li class="no-decoration-list"><a href="#"><%= t('.credits') %></a></li>
          <li class="no-decoration-list"><a href="#"><%= t('.security') %></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4><i class="fa fa-quote-right footer-titles" aria-hidden="true"></i></h4>
        <p><em><%= t('.super_quote') %></em></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 social-networks">
        <div class="text-center" >
          <ul class="list-inline">
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
          <p>La Bise, <%= Date.today.strftime('%Y') %> &copy;</p>
        </div>
      </div>
    </div>
  </div>
</div>
