<%= simple_form_for [@event, @reservation] do |f| %>
<%= f.error_notification %>
<%= f.input :guest,
            label: "Nombre de places souhaitées",
            collection: (1..@event.available_places), selected: session[:capacity]
%>

<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="infos" >
    <div class="reservation-results-div" id="price">
     The price is <%= price = @event.price * session[:capacity].to_i %>€ <!-- TODO -->
    </div>
    <div class="reservation-results-div" id="fees">
      Fees are <%= fees = (price * 0.15).round %>€ <!-- TODO -->
    </div>
    <div class="reservation-results-div" id="total-price">
      The amount is <%= price + fees %>€ <!-- TODO -->
    </div>
  </div>
</div>
<%= f.button :submit, class: "btn btn-warning btn-block" %>
<% end %>

