<div class=" card wrapper-new-event">
  <div class="container">
    <div class="row">
      <div id="form-event-new" class="col-xs-12 col-md-6 col-md-offset-3">
        <h1 class="text-center">Create your event</h1>
        <%= simple_form_for(@event) do |f| %>
          <%= f.error_notification %>
          <% if @event.errors.any? %>
            <%= @event.errors.full_messages.join(" ") %>
          <% end %>
          <%= f.input :photos, as: :attachinary,label: "Upload a beautiful Event's Picture", error: 'Picture is mandatory, please specify one' %>
          <button class="btn-upload" type="button" onclick="chooseFile();">Choisissez votre photo</button>
          <%= f.input :name,label: 'Add an Event Name', error: 'Event Name is mandatory, please specify one'%>
          <%= f.input :address %>
          <%= f.input :starting_at %>
          <%= f.input :price %>
          <%= f.input :description, :input_html => { :class => 'description', :rows => 6 } %>
          <%= f.input :capacity %>
          <%= f.input :mood, collection: [ "Electro", "Pop", "Funk","Jazz","Cozy","Rap US"]%>
          <%= f.input :house_type, collection: [ "Studio", "Loft", "Flat","Private Garden","Rooftop","House","Villa"] %>
          <%= f.input :option %>
          <%= f.button :submit, class: "space btn-block btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
