<div class="event-list-container">
  <div class="event-list">
    <h1 class="text-center title-index"><%=  t('.result', count: (!@events.nil? ? @events.size : 0) ) %> <%= session[:city] %>
    </h1>
    <% @events.each do |event| %>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <%= link_to event_path(event), class: "card-link" do %>
            <div class="card text-center">
              <div class="card-polaroid hoverable">
                <div class="card-polaroid-picture" style="background-image: url(<%= helper_picture_url(event) %>);">
                  <h4 class="card-title"><%= event.name %></h4>
                </div>
                <div class="media card-bottom">
                  <div class="media-left event-host">
                    <%= helper_user_picture_tag(event.user) %> &nbsp; <%= event.user.first_name %>
                  </div>
                  <div class="media-body card-stats">
                    <i class="fa fa-eur"></i> <%= event.price %>
                    <i class="fa fa-users"></i> <%= event.available_places %>
                    <i class="fa fa-glass"></i> <%= event.mood %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="map-wrapper">
    <div class="map" id="map" style="height: 100%;width:100%"></div>
  </div>
</div>

<% content_for(:after_js) do %>
    <script>
      $(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });

    </script>
<% end %>





