
<div class="container">
  <h1 class="text-center title-index"> Event available in  </h1>
  <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-6">
              <% @events.each do |event| %>
                <%= link_to event_path(event) do %>
                  <div class="card-index" style="background-image: url(<%= helper_picture_url(event)%>);">
                    <div class="card-category">
                      <h3> <%= event.name %></h3>
                    </div>
                    <div class="card-user">
                      <p><%= event.price%>€</p>
                    </div>
                    <div class="card-avatar">
                      <i class="fa fa-users" aria-hidden="true"></i>
                      <p><%= event.capacity %></p>
                    </div>
                    <div class="card-description">
                      <p><%= event.description %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xs-12 col-md-6">
      <div class="map" id="map" ></div>
    </div>
  </div>

<% content_for(:after_js) do %>
    <script>
      $(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });

    </script>
  <% end %>
</div>




