
<div class="fluid-container events-index">

    <div class="col-xs-12 col-md-6 cards-container">
      <h1 class="text-center title-index">Event available in <%= session[:city] %></h1>
      <% @events.each do |event| %>
        <%= link_to event_path(event) do %>
          <div class="card text-center">
            <div class="card-polaroid">
              <img src="http://www.ledarlington.com/wp-content/uploads/2015/02/happyhour.jpg">
              <div class="card-infos">
                <h3><%= event.name %></h3>
              </div>
              <p class="card-stats">
                <i class="fa fa-eur"></i> <%=event.price%>
                <i class="fa fa-users"></i> <%=event.capacity%>
                <i class="fa fa-heart"></i> <%=event.mood%>
                </a>
              </p>
            </div>
            <p class="card-bottom"><%=event.name%></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="map" id="map" style="height: 100vh;"></div>
    </div>

</div>

<% content_for(:after_js) do %>
    <script>
      $(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });

    </script>
  <% end %>





