
<div class="container">
  <h1 class="text-center title-index"> Event available in  </h1>
  <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
              <% @events.each do |event| %>
              <% link_to event.name, event_path(event) %>

              </div>
            </div>
            <% end %>
          </div>
      </div>
    <div class="col-xs-12 col-md-6">
      <div class="map" id="map" ></div>
    </div>
  </div>


  <script type="text/javascript">
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).on('ready', function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>
  </script>
</div>



 <div class="card-index" style="background-image: url(<%= helper_picture_url(pool)%>);">
                <div class="card-category">
                  <h3> <%= pool.name %> </h3>
                </div>
                <div class="card-user">
                  <p>Size : <%= pool.height %> x <%= pool.width %> </p>
                  <p><%=  pool.depth%> meters</p>
                </div>
                <div class="card-avatar">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <p> <%= pool.capacity %> </p>
                </div>
                <div class="card-description">
                  <p><%= pool.description %></p>
                </div>
                </div>
              <% end %>
