<div class="event-list-container">
  <div class="event-list">
    <h1 class="text-center title-index">Event available in <%= session[:city] %>
    </h1>
    <% @events.each do |event| %>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%= link_to event_path(event) do %>
            <div class="card text-center">
              <div class="card-polaroid">
                <%=helper_picture_tag(event) %>
                <div class="card-infos">
                  <h3>
                    <%= event.name %>
                  </h3>
                </div>
                <p class="card-stats">
                  <i class="fa fa-eur"></i> <%=event.price%>
                  <i class="fa fa-users"></i> <%=event.capacity%>
                  <i class="fa fa-heart"></i> <%=event.mood%>
                  </a>
                </p>
              </div>
              <p class="card-author">
                <%=event.name%>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="map-wrapper">
    <div class="map" id="map" style="height: 100%;width:100%"></div>
  </div>
</div>

<% content_for(:after_js) do %>
    <script>
      $(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });

    </script>
<% end %>





