<div class="container">
  <div class="row">
    <div class="recap hidden-xs" id="float-search">
      <%= @event.name %>
      <hr>
      <div class="info">
      <%= @event.address.split.last %>
      </div>
      <div class="info">
      <%= l @event.starting_at, format: '%A %d %B' %>
      </div>
      <div class="info">
      <%= l @event.starting_at, format: '%H:%M' %>
      </div>
      <div class="info">
      Reserve for <%= session[:capacity] %>
      </div>
      <%= link_to "Book", new_event_reservation_path(params[:id]), class: "btn btn-warning btn-block" %>
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      <%= link_to "Book", new_event_reservation_path(params[:id]), class: "btn btn-warning btn-block", id: "bottom-btn" %>
    </div>
    <div class="col-xs-12">
      <img src="http://placehold.it/350x150">
      <br>(SLID IMAGE)
      <h4><%= @event.name %></h4>
    </div>
    <div class="col-xs-6">
      <div>
        <img src="http://placehold.it/100?text=AVATAR">
      </div>
      <div>
        <%= @event.user.first_name %>
        <br>
        <%= @event.user.age_calculator %> years old
        <br>
        <%= link_to "Conctact", new_event_message_path(params[:id]), class: "btn btn-warning btn-block" %>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="infos">
        <%= l @event.starting_at, format: '%A %d %B | %H:%M' %>
      </div>
      <p>Price/pers: <%= @event.price %> €</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      EVENT options<br>
      EVENT options<br>
    </div>
    <div class="col-xs-6 col-sm-3">
      EVENT options<br>
      EVENT options<br>
    </div>
    <div class="col-xs-6 col-sm-3">
      EVENT options<br>
      EVENT options<br>
    </div>
    <div class="col-xs-6 col-sm-3">
      EVENT options<br>
      EVENT options<br>
    </div>
    <div class="cols-xs-12">
      <div class="description">
        <%= @event.description %><br>
        Condition d'annulation :
      </div>
      <div class="reviews">
        <%= @event.user.first_name %> has <%= total_reviews(@event) %>
         - average : <%= @event.average_reviews %>

        <% @event.reviews.order('created_at DESC').take(5).each do |review| %>
          <div class="review-card">
            <%= review.content %>
            <%= review.rating %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="cols-xs-12 bottom-space"></div>
  </div>
</div>
