<div class="top-space"></div>

<!-- floating recap for laptop on the right -->

<div class="recap hidden-xs" id="float-search">
  <%= @event.name %>
  <hr>
  <div class="info">
  <%= @event.address.split.last %>
  </div>
  <div class="info">
  <%= l(@event.starting_at, format: '%A %d %B') %>
  </div>
  <div class="info">
  <%= l(@event.starting_at, format: '%H:%M') %>
  </div>
  <div class="info">
  <%= session[:capacity] %> <%= t('.peoples', count: session[:capacity].to_i) %>
  </div>
  <%= link_to t('.book'), new_event_reservation_path(params[:id]), class: "btn btn-warning btn-block" %>
</div>

<!-- Floating bottom booking button for mobile devise -->

<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
  <%= link_to "Book", new_event_reservation_path(params[:id]), class: "btn btn-warning", id: "bottom-btn" %>
</div>

<!-- Page content -->

<div class="container">
  <div class="row">
    <div class="hidden-xs">
      <h1 class="text-center">
        <%= render 'pages/datepicker' %>
      </h1>
    </div>
    <div class="col-xs-12">
      <div class="head_picture"></div>
      <h3 class="text-center"><%= @event.name %></h3>
      <p class="text-center"><%= l(@event.starting_at, format: '%A %d %B') %> | <%= l(@event.starting_at, format: '%H:%M') %></p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="host_card">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="avatar-larger" src="http://placehold.it/100?text=AVATAR">
            </a>
          </div>
          <div class="media-body">
            <%= @event.user.first_name %>
            <br>
            <%= @event.user.age_calculator %> <%= t('.age') %>
            <br>
            <i class="fa fa-star" asria-hidden="true"></i> <strong><%= @event.reviews.count != 0 ? @event.average_reviews : "" %></strong> - <%= @event.reviews.count != 0 ? @event.reviews.count : ""  %> <%= t('.reviews', count: @event.reviews.count) %>
          </div>
          <div class="media-right">
            <%= link_to '<i class="fa fa-envelope-o" aria-hidden="true"></i>'.html_safe, new_event_message_path(params[:id]) %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7">
      <p class="text-center price"><strong><%= t('.price') %></strong> <%= @event.price %> €</p>
    </div>
  </div>
  <div class="row">
    <div class="options">
      <div class="col-xs-6 col-sm-3">
        EVENT options<br>
        EVENT options<br>
      </div>
      <div class="col-xs-6 col-sm-3">
        EVENT options<br>
        EVENT options<br>
      </div>
      <div class="col-xs-6 col-sm-3">
        EVENT options<br>
        EVENT options<br>
      </div>
      <div class="col-xs-6 col-sm-3">
        EVENT options<br>
        EVENT options<br>
      </div>
    </div>
    <div class="cols-xs-12">
      <div class="event-description">
        <%= @event.description %><br>
        <%= t('.cancelrules') %> CALL THE EVENT.CANCELRULES
      </div>
      <% @event.reviews.order('created_at DESC').take(5).each do |review| %>
        <div class="review-card card-polaroid">
          <div class="media">
            <div class="media-left">
              <img src="http://placehold.it/100?text=MERDE!!">
            </div>
            <div class="media-body">
              <%= review.content %>
              <%= stars(review.rating) %>
            </div>
          </div>
        </div>
        <% end %>
    </div>
    <div class="bottom-space hidden-sm hidden-md hidden-lg"></div>
  </div>
</div>
