<% @events.each do |event| %>
  <div class="col-xs-12 col-sm-8">
    <h2><%= event.name %> </h2>
    <div class="event-description">
      <h4><%= event.description %></h4>
    </div>

    <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= l event.starting_at, format: :short %></p>

    <p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= event.address %></p>

    <p><i class="fa fa-circle-o" aria-hidden="true"></i> <%= event.mood %></p>
    <p><i class="fa fa-angellist" aria-hidden="true"></i> <%= event.group_age %> old</p>
    <p><i class="fa fa-home" aria-hidden="true"></i> <%= event.house_type %></p>
    <p><i class="fa fa-users"></i> <%= event.capacity %></p>
    <p> <i class="fa fa-eur"></i> <%= event.price %></p>
    <p> <i class="fa fa-gift" aria-hidden="true"></i> <%= event.option %></p>


    <% event.reservations.each do |reservation|%>
      <br>
      <%= reservation.user.first_name %> is bringing <%= reservation.guest %> for <%= reservation.event.price * reservation.guest %>€ .

      <%= simple_form_for [event, reservation] do |f| %>
        <%= f.input :refused_at,
                    as: :hidden,
                    input_html: {value: Time.now} %>
        <%= f.button :submit, t('.deny'), class: "btn btn-danger pull-right" %>
      <% end %>

      <%= simple_form_for [event, reservation] do |f| %>
        <%= f.input :accepted_at,
                    as: :hidden,
                    input_html: {value: Time.now} %>
        <%= f.button :submit, t('.accept'), class: "btn btn-success pull-right" %>
      <% end %>

      <br>
    <% end %>
  </div>
<% end %>
