<div class="container">
  <% @reservations.each do |reservation|%>
    <div class="row">
      <div class="wrapper">
          <div class="col-xs-12 col-sm-4">
            <div  class="picture-event" style="background-image: url(<%= helper_picture_url(reservation.event) %>);">
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="container-informations">
              <p> <strong> <%= reservation.event.name %> </strong> </p>
              <p>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <%= l reservation.event.starting_at, format: :short %>
              </p>
              <h4>
                <i class="fa fa-users" aria-hidden="true"></i>
                <%= reservation.guest %>
              </h4>
              <h4>
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                <%= (reservation.guest * reservation.event.price * 1.15).round %> €
              </h4>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <% if not reservation.event.canceled? %>
              <% if not reservation.canceled? %>
                <div class="reservation-fontawesome">
                <% if reservation.confirmed? %>
                  <p class="confirmed"><%= t('.confirmed') %></p>
                  <i class="fa fa-check-square confirmed" aria-hidden="true"></i>
                <% end %>

                <% if reservation.refused? %>
                  <p class="refused"><%= t('.refused') %></p>
                  <i class="fa fa-times refused" aria-hidden="true"></i>
                <% end %>

                <% if reservation.pending? %>
                  <p class="pending"><%= t('.pending') %></p>
                  <i class="fa fa-pause pending" aria-hidden="true"></i>
                <% end %>
                <%= simple_form_for([reservation.event, reservation], remote: false, method: "patch") do |f| %>
                  <%= f.input :canceled_at,
                              as: :hidden,
                              input_html: {value: Time.now} %>
                  <%= f.button :submit, t('.cancel'), class: "btn btn-danger btn-lg", style: "margin-bottom: 7px; padding: 3px 15px" %>
                <% end %>
                </div>
              <% else %>
                <p class="canceled">
                  <%= t('.canceled_at')%> <%= l reservation.canceled_at, format: :short %>
                </p>
              <% end %>
            <% else %>
              <p class="canceled">
                <%= t('.event_cancel') %>
              </p>
            <% end %>

          </div>
        </div>
    </div>
  <% end %>
</div>
