
<%= simple_form_for :search, url: events_path, method: :get do |f| %>

  <div class="col-xs-12 col-md-offset-1 col-md-2">
    <%= f.input :city, label: false, placeholder: t('.city'), input_html: { value: 'Bordeaux'} %>
  </div>
  <div class="col-xs-12 col-md-2">
    <div class="input-group date" data-lang="<%= I18n.locale %>">
      <span class="input-group-addon" id="basic-addon1">
        <i class="fa fa-calendar" aria-hidden="true"></i>
      </span>
      <%= f.text_field :date, class: "input-sm form-control" %>
    </div>
  </div>
  <div class="col-xs-12 col-md-2">
    <%= f.input :flexible, as: :select, collection: [["Flexible date", true], ["Exact date", false]], label: false, default: 0 %>
  </div>
  <div class="col-xs-12 col-md-2">
    <%= f.input :capacity, label: false, input_html: { value: '2'}, collection: (1..20), default: 1 %>

  </div>
  <div class="col-xs-12 col-md-2">
    <%= f.button :submit, t('.search'), class: 'btn btn-danger btn-block' %>
  </div>

<% end %>
