<%= simple_form_for :search, url: events_path, method: :get do |f| %>
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-3">
        <%= f.input :city, label: false, placeholder:"Enter a city", input_html: { value: 'Bordeaux'}%>
      </div>

      <div class='col-xs-12 col-md-3'>
        <div class="input-group date" data-lang="<%= I18n.locale %>" >
          <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <%= f.text_field :date, class: "input-sm form-control" %>
        </div>
      </div>

      <div class='col-xs-12 col-md-3'>
        <%= f.input :capacity, label: false, placeholder: "Capacity", input_html: { value: '2'} %>
      </div>

      <div class='col-xs-12 col-md-3'>
        <%= f.button :submit, "Search", class: "btn btn-danger btn-block" %>
      </div>

    </div>
  </div>
<%end%>
