<div class="container">
  <div class="row">

    <% @events.each do |event| %>

      <div class="col-xs-12 col-sm-4">

        <%= link_to event_path(event) do %>

          <div class="card text-center">
            <div class="card-polaroid hoverable">

              <img src="http://www.ledarlington.com/wp-content/uploads/2015/02/happyhour.jpg">

              <div class="card-infos">
                <h3>
                  <%= event.name %>
                </h3>
              </div>

              <p class="card-stats">
                <i class="fa fa-eur"></i> <%=event.price%>
                <i class="fa fa-users"></i> <%=event.available_places%>
                <i class="fa fa-glass"></i> <%=event.mood%>
                </a>
              </p>
            </div>
            <p class="card-bottom">
              <%=event.name%>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

