<div class="container">
  <div class="row">
    <% @events.order('created_at DESC').take(9).each do |event| %>
    <div class="col-xs-12 col-sm-4">
      <%= link_to event_path(event), class: "card-link" do %>
        <div class="card text-center">
          <div class="card-polaroid hoverable">
            <div class="card-polaroid-picture" style="background-image: url(<%= helper_picture_url(event) %>);">
              <h4 class="card-title"><%= event.name %></h4>
            </div>
            <div class="media card-bottom">
              <div class="media-left event-host">
                <%= helper_user_picture_tag(event.user) %> &nbsp; <%= event.user.first_name %>
              </div>
              <div class="media-body card-stats">
              <ul class="list-inline">
                <li>
                  <i class="fa fa-users"></i> <%= event.available_places %>
                </li>
                <li>
                  <i class="fa fa-music"></i> <%= event.mood %>
                </li>
                <li>
                  <%= event.price %> <i class="fa fa-eur"></i>
                </li>
              </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

