<div class="container">
  <div class="row">
    <div class="visible-xs hidden-sm">
      <img src="http://placehold.it/100?text=AVATAR"><br>INSERT CURENT USER PHOTO
      <%= current_user.first_name %> <%= current_user.last_name %>
      <div class="identification">
        <%= current_user.email %>
        <%= current_user.phone_number %>
        <%= current_user.birth_date %> - <%= current_user.gender %>
        <%= current_user.birth_date %>
      </div>
      <div class="description">
        <%= current_user.description %>
      </div>
      <a href="#" class="btn btn-info">Edit</a>
    </div>
  </div>
  <div class="row">
    <div class="tabs">
      <a  data-target="#profil" class="hidden-xs col-sm-3 tab active">
        <h3><%= t('.profil') %></h3>
      </a>
      <a  data-target="#messages" class="col-xs-4 col-sm-3 tab mob-cond">
        <h3><%= t('.messages') %></h3>
      </a>
      <a  data-target="#events" class="col-xs-4 col-sm-3 tab">
        <h3><%= t('.events') %></h3>
      </a>
      <a  data-target="#reservations" class="col-xs-4 col-sm-3 tab">
        <h3><%= t('.reservations') %></h3>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="tab-content" id="profil">
    <%= t('.profil-message') %>
  </div>
  <div class="tab-content hidden" id="messages">
    INSERT MY MESSAGES INDEX VIEW
  </div>
  <div class="tab-content hidden" id="reservations">
    <%= render 'dash_reservations'%>
  </div>
  <div class="tab-content hidden" id="events">
    <%= render 'dash_events' %>
  </div>
</div>
