<div class="container">
  <div class="row">
    <div class="visible-xs hidden-sm">
      <img src="http://placehold.it/100?text=AVATAR"><%= current_user.photo %>
      <%= current_user.first_name %> <%= current_user.last_name %>
      <div class="identification">
        <%= current_user.email %>
        <%= current_user.phone_number %>
        <%= current_user.birth_date %> - <%= current_user.gender %>
        <%= current_user.birth_date %>
      </div>
      <div class="description">
        <%= current_user.description %>
      </div>
      <a href="#" class="btn btn-info">Edit</a>
    </div>
  </div>
  <div class="row">
    <div class="tabs">
      <a  data-target="#profil" class="hidden-xs col-sm-3 tab active">
        <h3>Profil</h3>
      </a>
      <a  data-target="#messages" class="col-xs-4 col-sm-3 tab mob-cond">
        <h3>Messages</h3>
      </a>
      <a  data-target="#reservations" class="col-xs-4 col-sm-3 tab">
        <h3>Evènements</h3>
      </a>
      <a  data-target="#events" class="col-xs-4 col-sm-3 tab">
        <h3>Réservations</h3>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="tab-content" id="profil">
    INSERT MY PROFIL VIEW
  </div>
  <div class="tab-content hidden" id="messages">
    INSERT MY MESSAGES INDEX VIEW
  </div>
  <div class="tab-content hidden" id="reservations">
    INSERT MY RESERVATIONS INDEX VIEW
  </div>
  <div class="tab-content hidden" id="events">
    INSERT MY EVENTS EDIT VIEW
  </div>
</div>
