<!-- <div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,238,238,0.3) 0%, rgba(221,239,187,0.2) 50%), url('http://www.raynaldethien.fr/Nuages/Cirrus-4.JPG');">
 -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-relative">
    <h1 class="title text-center">La Bise</h1>
    <div class="hidden-xs">
      <h3 class="punchline text-center"><%= t('.punchline') %></h3>
    </div>
    <%= render 'datepicker' %>
  </div>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('labise1.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('labise3.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('labise2.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('home_picture.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('labise4.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path('labise5.jpg')%>);">
      </div>
      <div class="carousel-caption">
      </div>
    </div>
  </div>
</div>
<div class="rules-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="value-proposition text-center">
            <%= image_tag "diamond.png", class: "icon"%>
          <p class="icon">
            <%= t('.icon2') %>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="value-proposition text-center">
          <%= image_tag "check.png", class: "icon"%>
          <p class="icon">
            <%= t('.icon1') %>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="value-proposition text-center">
          <%= image_tag "crown.png", class: "icon"%>
          <p class="icon">
            <%= t('.icon3') %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-title">
  <h1 class="text-center brand-primary"><%= t('.check') %></h1>
</div>

<div class="card-wrapper">
  <%= render 'listevents' %>
</div>
