<div class="container">
  <div class="row">
    <div class="hidden-xs col-sm-4">
      <div class="card" style="background-image: url('https://unsplash.it/200')">
      <h2><%= @event.name %></h2>
      </div>
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      <h2><%= @event.name %></h2>
    </div>

    <div class="reservation-informations">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          Date :
          <%= l @event.starting_at, format: '%A %d %B | %H:%M' %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          <p>
            <strong>
              Prix par personne :
            </strong>
            <%= @event.price %> €
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          Places restantes : <%= @event.available_places %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          Nombre de places à réserver
        </div>
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="">
        <strong>
          Description :
        </strong>
         <p>
           <%= @event.description %>
         </p>
      </div>
    </div>

  </div>
  <%= link_to "Book it!", root_path, class: "btn btn-warning btn-block" %>
</div>
