<div class="container">
  <div class="row">
    <div class="hidden-xs col-sm-4">
      <div class="card" style="background-image: url('https://unsplash.it/200')">
      <h2><%= @event.name %></h2>
      </div>
    </div>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      <h2><%= @event.name %></h2>
    </div>

    <div class="reservation-informations" id="reservation-informations" data-price="<%= @event.price %>" data-frais="0.15">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          Date :
          <%= l @event.starting_at, format: '%A %d %B | %H:%M' %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos" >
          <p>
            <strong>
              Prix par personne :
            </strong>
            <%= @event.price %> €
          </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          <%= t('.available_places') %> <%=  @event.available_places %>
        </div>
      </div>
      <div>
        <%= simple_form_for [@event, @reservation] do |f| %>
        <%= f.error_notification %>
        <%= f.input :guest,
                    label: "Nombre de places souhaitées",
                    collection: 1..@event.available_places
        %>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          <div id="price">
          </div>
          <div id="fees">
          </div>
          <div id="total-price">
          </div>
        </div>
      </div>
        <%= f.button :submit, class: "btn btn-warning btn-block" %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="">
        <strong>
          Description :
        </strong>
         <p>
           <%= @event.description %>
         </p>
      </div>
    </div>

  </div>
</div>
